<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>l0-master-servlets-jsp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>xmlServlet</servlet-name>
		<servlet-class>basics.XmlConfiguredServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xmlServlet</servlet-name>
		<url-pattern>/xmlconfig</url-pattern>
	</servlet-mapping>

	<!-- init param for servlet -->
	<servlet>
		<servlet-name>InitParamServlet</servlet-name>
		<servlet-class>config.InitParamServlet</servlet-class>
		<init-param>
			<param-name>Day</param-name>
			<param-value>Monday</param-value>
		</init-param>
		<init-param>
			<param-name>Month</param-name>
			<param-value>March
         </param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitParamServlet</servlet-name>
		<url-pattern>/InitParamServlet</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>listener.SessionListener</listener-class>
	</listener>
	<!-- <listener> <listener-class>listener.SessionListener2</listener-class> 
		</listener> -->
</web-app>